NEXT_PUBLIC_RITUAL_CHAIN_ID=1979
NEXT_PUBLIC_RITUAL_EXPLORER_URL=https://explorer.ritualfoundation.org
NEXT_PUBLIC_RITUAL_RPC_URL=https://rpc.ritualfoundation.org
NEXT_PUBLIC_MOCK_MODE=false

RITUAL_RPC_URL=https://rpc.ritualfoundation.org
TEE_SERVICE_REGISTRY_ADDRESS=0x9644e8562cE0Fe12b4deeC4163c064A8862Bf47F
RELAYER_PRIVATE_KEY=
DEPLOYER_PRIVATE_KEY=

AA_PROVIDER=custom
AA_PROVIDER_KIND=custom
AA_FACTORY_ADDRESS=0x98fb3c3Cb0291E43D138dA1051a7b98Bfa75eda0
AA_ENTRYPOINT_ADDRESS=
AA_BUNDLER_RPC_URL=
AA_PAYMASTER_RPC_URL=
AA_SESSION_KEY_MODULE_ADDRESS=

PERSISTENT_AGENT_FACTORY_ADDRESS=0xD4AA9D55215dc8149Af57605e70921Ea16b73591
PERSISTENT_AGENT_PRECOMPILE_ADDRESS=0x0820
PERSISTENT_AGENT_EXECUTOR_ADDRESS=
PERSISTENT_AGENT_LLM_PROVIDER=
PERSISTENT_AGENT_MODEL=
PERSISTENT_AGENT_LLM_API_KEY_REF=
PERSISTENT_AGENT_DA_PROVIDER=
PERSISTENT_AGENT_DA_PATH=
PERSISTENT_AGENT_DA_KEY_REF=
PERSISTENT_AGENT_ENCRYPTED_SECRETS=
PERSISTENT_AGENT_DKMS_FUNDING_WEI=
PERSISTENT_AGENT_SCHEDULER_FUNDING_WEI=
PERSISTENT_AGENT_SCHEDULER_LOCK_DURATION=
PERSISTENT_AGENT_SCHEDULER_GAS=8000000
PERSISTENT_AGENT_SCHEDULER_TTL=500
PERSISTENT_AGENT_MAX_FEE_PER_GAS=1000000000
PERSISTENT_AGENT_MAX_PRIORITY_FEE_PER_GAS=100000000
RITUAL_WALLET_ADDRESS=0x532F0dF0896F353d8C3DD8cc134e8129DA2a3948
RITUAL_LLM_PRECOMPILE_ADDRESS=0x0802
RITUAL_LLM_EXECUTOR_ADDRESS=
RITUAL_LLM_LOCK_DURATION=10000
RITUAL_LLM_WALLET_FUNDING_WEI=
CHAT_MANAGER_ADDRESS=

DATABASE_URL=
STORAGE_DRIVER=memory
MOCK_MODE=false
