NEXT_PUBLIC_RITUAL_CHAIN_ID=1979
NEXT_PUBLIC_RITUAL_EXPLORER_URL=https://explorer.ritualfoundation.org
NEXT_PUBLIC_RITUAL_RPC_URL=https://rpc.ritualfoundation.org
NEXT_PUBLIC_MOCK_MODE=false

RITUAL_RPC_URL=https://rpc.ritualfoundation.org
TEE_SERVICE_REGISTRY_ADDRESS=0x9644e8562cE0Fe12b4deeC4163c064A8862Bf47F
DEPLOYER_PRIVATE_KEY=

RITUAL_LLM_PRECOMPILE_ADDRESS=0x0802
RITUAL_LLM_EXECUTOR_ADDRESS=
RITUAL_LLM_MODEL=zai-org/GLM-4.7-FP8
RITUAL_LLM_TTL=300
RITUAL_LLM_TEMPERATURE=700
RITUAL_LLM_MAX_COMPLETION_TOKENS=512
RITUAL_LLM_CONVO_HISTORY_ENABLED=false
RITUAL_LLM_CONVO_HISTORY_PROVIDER=
RITUAL_LLM_CONVO_HISTORY_PATH=
RITUAL_LLM_CONVO_HISTORY_KEY_REF=
RITUAL_WALLET_ADDRESS=0x532F0dF0896F353d8C3DD8cc134e8129DA2a3948
RITUAL_LLM_WALLET_FUNDING_WEI=10000000000000000
RITUAL_LLM_LOCK_DURATION=50000
CHAT_MANAGER_ADDRESS=

DATABASE_URL=
STORAGE_DRIVER=memory
MOCK_MODE=false
